<div class="row"></div>

<!--search-->
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">search</i>
        <input #searchtext
            id="icon_prefix"
            type="text"
            autofocus
            autocomplete="off"
            (keyup)="updateSearch(searchtext.value)">
        <label for="icon_prefix">Search by name</label>
      </div>
    </div>
  </form>
</div>

<!--Cards-->
<div class="row">
  <div *ng-for="#guest of getList()" class="col s12 m6 l4">
    <question-card [guest]="guest"
        (answerselected)="updateLovesNg2(guest, $event.lovesNg2)"></question-card>
  </div>
</div>

<!--no results-->
<div *ng-if="noResults" class="row">
  <div class="input-field col s12">
    <h3>No results</h3>
  </div>
</div>
